@charset "utf-8";
body {
    background-image: url(fon1.jpg);	
}

#div1{
  display: none;
}
.but1{
	border-radius: 10px;
	margin-left:4%;
	margin-top:1%;
	width:90%;
	height:50px;
	position:fixed;
	font-family: URW Chancery L, cursive;
	font-size: 30px;
	background: radial-gradient(40% 50%, #FAECD5, #A7CECC);
			}