@charset "utf-8";
body {
    background-image: url(fon1.jpg);	
}

.but1{border-radius: 20px;
	width:90%;
	height:50px; 
	background: radial-gradient(40% 50%, #FAECD5, #A7CECC);
	font-size: 125%;
	 border: 0;
	outline:none;
	padding:10px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"  
}
h1 {border-radius: 20px;
	background: radial-gradient(40% 50%, #FAECD5, #A7CECC);
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
    padding-left: 20px;
	padding-right: 20px;
	padding-top:5px;
	padding-bottom:5px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"  
	
}
div {text-align:center;}
a{	display: inline-block;
	box-sizing: border-box;
	background: radial-gradient(40% 50%, #FAECD5, #A7CECC);
	padding-left: 20px;
	padding-right: 20px;
	padding-top:5px;
	padding-bottom:5px;
	border-radius: 20px;
	font-size: 100%;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"  
}
img{
	width:80%;
	
}
.but2{border-radius: 20px;
	height:50px; 
	background: radial-gradient(40% 50%, #FAECD5, #A7CECC);
	font-size: 100%;
	 border: 0;
	outline:none;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"  
}