@charset "utf-8";
body {
    background-image: url(fon1.jpg);	
}

/*@font-face {
	/*font-family: 'chancery_script_medium_ssi_medium_italic-webfont';
	src: url('chancery_script_medium_ssi_medium_italic-webfont.ttf') format('truetype');
	src: url('chancery_script_medium_ssi_medium_italic-webfont.woff') format('woff');
	src: url('chancery_script_medium_ssi_medium_italic-webfont.woff2') format('woff2')
	font-family: 'DidactGothic-Regular';
	src: url('DidactGothic-Regular.ttg') format('truetype');
}*/
.but1{border-radius: 20px;
	width:90%;
	height:50px; 
	background: radial-gradient(40% 50%, #FAECD5, #A7CECC);
	/*font-family: chancery_script_medium_ssi_medium_italic,cursive;*/
	font-size: 125%;
	 border: 0;
	outline:none;
	padding:10px;
	padding-bottom: 40px;
	/*font-family: DidactGothic-Regular, cursive;*/
}
h1 {border-radius: 20px;
	/*font-family: DidactGothic-Regular, cursive;*/
	/*font-family: chancery_script_medium_ssi_medium_italic-webfont,cursive;*/
	background: radial-gradient(40% 50%, #FAECD5, #A7CECC);
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
    padding-left: 20px;
	padding-right: 20px;
	padding-top:5px;
	padding-bottom:5px;
}
div {text-align:center;}
a{	display: inline-block;
	box-sizing: border-box;
	/*font-family: DidactGothic-Regular, cursive;*/
	/*font-family: chancery_script_medium_ssi_medium_italic,cursive;*/
	background: radial-gradient(40% 50%, #FAECD5, #A7CECC);
	padding-left: 20px;
	padding-right: 20px;
	padding-top:5px;
	padding-bottom:5px;
	border-radius: 20px;
	font-size: 100%;
}
img{
	width:80%;
	
}
.but2{border-radius: 20px;
	height:50px; 
	background: radial-gradient(40% 50%, #FAECD5, #A7CECC);
	/*font-family: DidactGothic-Regular, cursive;*/
	/*font-family: chancery_script_medium_ssi_medium_italic,cursive;*/
	font-size: 100%;
	 border: 0;
	outline:none;
}